<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/history.css')}}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
    <title>AntraVision</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <img src="{{url_for('static', filename='imgs/logo-white2.svg')}}">
            <div class="line"></div>
            <ul>
                <li><a href="{{url_for('main')}}" id="dashboardLink"><i class="fa-solid fa-border-all"></i> Dashboard</a></li>
                <li><a href="{{url_for('history')}}" id="relatorioLink"><i class="fa-solid fa-file-lines"></i> Históricos</a></li>
                <li><a href="{{url_for('perfil')}}" id="profileLink"><i class="fa-solid fa-user"></i> Perfil</a></li>
            </ul>
        </aside>
        <div class="main-history">
        <h1 class="titl">Histórico de Detecções</h1>
        
        <div class="filters">
            <label>Data Inicial: <input type="date" id="startDate"></label>
            <label>Data Final: <input type="date" id="endDate"></label>
            <label>Localização:
                <select id="location">
                    <option value="">Todas</option>
                    <option value="Fazenda A">Fazenda A</option>
                    <option value="Fazenda B">Fazenda B</option>
                </select>
            </label>
            <button class="filter-button"><i class="fa-solid fa-filter"></i> Filtrar</button>
            <button class="download-button"><i class="fa-solid fa-download"></i>Baixar</button>
        </div>
        <div class="historico-container">
            <table class="table-historico">
              <thead>
                <tr>
                  <th>Data da Detecção</th>
                  <th>Localização</th>
                  <th>Nível de Infestação</th>
                  <th>Status da Pupunheira</th>
                  <th>Observações</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10/11/2024</td>
                  <td>Região Norte</td>
                  <td>Alto</td>
                  <td>Em tratamento</td>
                  <td>Necessário monitoramento constante.</td>
                  <td>
                    <button class="btn-acao btn-visualizar"><i class="fa-solid fa-eye"></i></button>
                    <button class="btn-acao btn-editar"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn-acao btn-deletar"><i class="fa-solid fa-trash"></i></button>
                  </td>
                </tr>
                <tr>
                  <td>12/11/2024</td>
                  <td>Região Sul</td>
                  <td>Médio</td>
                  <td>Saudável</td>
                  <td>Acompanhamento em andamento.</td>
                  <td>
                    <button class="btn-acao btn-visualizar"><i class="fa-solid fa-eye"></i></button>
                    <button class="btn-acao btn-editar"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn-acao btn-deletar"><i class="fa-solid fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

      
    </div>
    </div>    
    <script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>

</body>
</html>
    