<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>AntraVision</title>
</head>
<body>
<div class="container">
    <div class="sub-container">
        <img class="right_panel" src="{{url_for('static', filename='imgs/fundo.png')}}">
    </div>    
     <!-- <div class="panel_center">
        <img class="logo_panel" src="{{url_for('static', filename='imgs/logo_white.svg')}}">
        <img class="sublogo_panel" src="{{url_for('static', filename='imgs/sub_logo_white.svg')}}">
    </div> -->
</div>

<div class="forms">
    <h1 class="titl">LOGIN</h1>
    <hr>
</div>
</body>
</html>