<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/perfil.css')}}"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css"
    />
    <title>AntraVision</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <img src="{{url_for('static', filename='imgs/logo-white2.svg')}}" />
        <div class="line"></div>
        <ul>
          <li>
            <a href="{{url_for('main')}}" id="dashboardLink"
              ><i class="fa-solid fa-border-all"></i> Dashboard</a
            >
          </li>
          <li>
            <a href="{{url_for('history')}}" id="relatorioLink"
              ><i class="fa-solid fa-file-lines"></i> Históricos</a
            >
          </li>
          <li>
            <a href="{{url_for('perfil')}}" id="profileLink"
              ><i class="fa-solid fa-user"></i> Perfil</a
            >
          </li>
        </ul>
      </aside>
      <div class="main-perfil">
        <div class="cont-photo">
          <div class="photo"></div>
          <div class="camera">
            <i class="fa-solid fa-camera fa-2xl"></i>
          </div>
          <h2 class="username">XXXXXX</h2>
          <button class="logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Sair
          </button>
        </div>
        <div class="stats">
          <h2 class="stats_title">Meus Dados</h2>
          <fieldset class="personal-stats">
            <legend class="personal_leg">Dados Pessoais</legend>
            <label for="nome">Nome</label>
            <input
              type="text"
              id="nome"
              name="nome"
              placeholder="Nome"
            />

            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
            />

            <label for="telefone">Telefone</label>
            <input
              type="tel"
              id="telefone"
              name="telefone"
              placeholder="Telefone"
            />

            <label for="senha">Senha</label>
            <input
              type="password"
              id="senha"
              name="senha"
              placeholder="Senha"
            />
          </fieldset>
          <fieldset class="location-stats">
            <legend class="location_leg">Dados de Localidade</legend>
          </fieldset>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/e25d89dd27.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
