<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>AntraVision</title>
</head>
<body>
    <div class="container">
        <div class="image-box2">
            <img src="{{url_for('static', filename='imgs/logo_white.svg')}}" alt="Logo" class="logo1">
            <img src="{{url_for('static', filename='imgs/sub_logo_white.svg')}}" alt="Logo" class="logo1">
        </div>
        <div class="login-box">
            <h1 class="login-title">CADASTRO</h1>
            <hr class="separator-line"> 
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>
</html>