<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>AntraVision</title>
</head>
<body>
    <div class="container">
        <div class="image-section2">
            <div class="logo">
                <img src="{{url_for('static', filename='imgs/logo_white.svg')}}" alt="Logo ANTVSN">
                <img src="{{url_for('static', filename='imgs/sub_logo_white.svg')}}" alt="Logo ANTVSN">
            </div>
        </div>
        <div class="login-section">
            <a href="{{url_for('login')}}"><img class="ico" src="{{url_for('static', filename='imgs/arrow-icon.svg')}}"></a>
            <h2>CADASTRO</h2>
            <hr>
            <div class="input-field1">
                <img src="{{url_for('static', filename='imgs/people-icon.svg')}}" alt="Email">
                <input type="text" placeholder="Nome">
            </div>
            <div class="input-field1">
                <img src="{{url_for('static', filename='imgs/tel-icon.svg')}}" alt="Email">
                <input type="text" placeholder="Telefone">
            </div>
            <div class="input-field1">
                <img src="{{url_for('static', filename='imgs/email-icon.svg')}}" alt="Email">
                <input type="email" placeholder="Email">
            </div>
            <div class="input-field2">
                <img src="{{url_for('static', filename='imgs/lock-icon.svg')}}" alt="Email">
                <input type="password" placeholder="Senha">
            </div>
            <div class="input-field21">
                <img src="{{url_for('static', filename='imgs/lock-icon.svg')}}" alt="Senha">
                <input type="password" placeholder="Confirme a Senha">
            </div>
            <button class="signup-button"><a href="{{url_for('signup2')}}">PRÓXIMO</a></button>
        </div>
       
    </div>
</body>
<script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>
</html>