<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>AntraVision</title>
</head>
<body>
    <div class="container">
        <div class="image-section2">
            <div class="logo">
                <img src="{{url_for('static', filename='imgs/logo_white.svg')}}" alt="Logo ANTVSN">
                <img src="{{url_for('static', filename='imgs/sub_logo_white.svg')}}" alt="Logo ANTVSN">
            </div>
        </div>
        <div class="login-section">
            <!-- <a href="{{url_for('signup')}}"><img class="ico" src="{{url_for('static', filename='imgs/x-icon.svg')}}"></a> -->
            <h2>CADASTRO</h2>
            <hr>
            <div class="input-field3">
                <img src="{{url_for('static', filename='imgs/location-icon.svg')}}" alt="Email">
                <input type="text" placeholder="ENDEREÇO">
            </div>
            <div class="input-field3">
                <img src="{{url_for('static', filename='imgs/city-location.svg')}}" alt="Email">
                <input type="text" placeholder="CIDADE">
            </div>
            <div class="input-field3">
                <select>
                    <option value="">Estado</option>
                    <option value="Acre (AC)">Acre (AC)</option>
                    <option value="Alagoas (AL)">Alagoas (AL)</option>
                    <option value="Amapá (AP)">Amapá (AP)</option>
                    <option value="Amazonas (AM)">Amazonas (AM)</option>
                    <option value="Bahia (BA)">Bahia (BA)</option>
                    <option value="Ceará (CE)">Ceará (CE)</option>
                    <option value="Distrito Federal (DF)">Distrito Federal (DF)</option>
                    <option value="Espírito Santo (ES)">Espírito Santo (ES)</option>
                    <option value="Goiás (GO)">Goiás (GO)</option>
                    <option value="Maranhão (MA)">Maranhão (MA)</option>
                    <option value="Mato Grosso (MT)">Mato Grosso (MT)</option>
                    <option value="Mato Grosso do Sul (MS)">Mato Grosso do Sul (MS)</option>
                    <option value="Minas Gerais (MG)">Minas Gerais (MG)</option>
                    <option value="Pará (PA)">Pará (PA)</option>
                    <option value="Paraíba (PB)">Paraíba (PB)</option>
                    <option value="Paraná (PR)">Paraná (PR)</option>
                    <option value="Pernambuco (PE)">Pernambuco (PE)</option>
                    <option value="Piauí (PI)">Piauí (PI)</option>
                    <option value="Rio de Janeiro (RJ)">Rio de Janeiro (RJ)</option>
                    <option value="Rio Grande do Norte (RN)">Rio Grande do Norte (RN)</option>
                    <option value="Rio Grande do Sul (RS)">Rio Grande do Sul (RS)</option>
                    <option value="Rondônia (RO)">Rondônia (RO)</option>
                    <option value="Roraima (RR)">Roraima (RR)</option>
                    <option value="Santa Catarina (SC)">Santa Catarina (SC)</option>
                    <option value="São Paulo (SP)">São Paulo (SP)</option>
                    <option value="Sergipe (SE)">Sergipe (SE)</option>
                    <option value="Tocantins (TO)">Tocantins (TO)</option>
                </select>
            </div>
            <div class="input-field3">
                <img src="{{url_for('static', filename='imgs/location-icon.svg')}}" alt="Email">
                <input type="text" placeholder="CEP">
            </div>
            <a href="{{url_for('main')}}"><button class="signup-button">CADASTRAR</button></a>
           
        </div>
       
    </div>
</body>
<script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>
</html>