@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f4f6f9;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #1a5319;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.main-content p {
  font-size: 18px;
  color: #859f3d;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
  margin: 15px 0;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  transition: background 0.3s, color 0.3s;
}

.sidebar ul li i {
  margin-right: 12px;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  color: #ffffff;
  border-radius: 5px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.titl {
  color: #31511e;
  margin-left: 25px;
  margin-top: 25px;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  transform: scale(1.05);
}
.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  width: 166px;
  height: 80px;
  margin: 15px 0;
}

.line {
  width: 80%;
  height: 5px;
  background-color: #80af81;
  filter: opacity(0.5);
  margin-top: 2rem;
}

.sidebar img {
  width: 240px;
  margin-top: 15px;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a5319;
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  transform: scale(1.1);
}

.sidebar ul li a i {
  font-size: 24px; /* Tamanho do ícone */
  margin-bottom: 5px;
  margin-left: 16px;
}

.cont-photo {
  height: 450px;
  width: 320px;
  margin-left: 4rem;
  margin-top: 4rem;
  background-color: #d8efd3;
  border-radius: 20px;
}

.camera {
  width: 60px;
  height: 60px;
  background-color: #1a5319;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 13rem;
  position: relative;
  margin-top: -1.5rem;
}

.username {
  font-size: 27px;
  font-weight: 500;
  margin-left: 115px;
  margin-top: 50px;
  font-family: "Lexend Exa", sans-serif;
}

.logout {
  width: 250px;
  height: 40px;
  background-color: #1a5319;
  color: #f4f6f9;
  border: none;
  font-size: 15px;
  border-radius: 30px;
  margin-left: 40px;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.logout:hover {
  background-color: #a6342c;
  font-weight: 800;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

.camera i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 28px;
  color: #f4f6f9;
}

.photo {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: rgb(200, 196, 196);
  margin-left: 3.2rem;
  top: 2rem;
  position: relative;
}

.stats {
  height: 595px;
  width: 770px;
  background-color: #d8efd3;
  border-radius: 20px;
  margin-left: 26rem;
  margin-top: -28rem;
}

.stats_title {
  font-size: 30px;
  color: #31511e;
  padding: 35px;
}

.personal-stats {
  margin-left: 34px;
  margin-right: 40px;
  border: 2px solid #1a5319;; /* Cor da borda */
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.location-stats {
  margin-left: 34px;
  margin-right: 40px;
  border: 2px solid #1a5319;; /* Cor da borda */
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.personal_leg{
  font-weight: 700;
  color: #31511e;
  padding: 0 10px;
  font-size: 18px;
}

.location_leg{
  font-weight: 700;
  color: #31511e;
  padding: 0 10px;
  font-size: 18px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}