body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

.container{
    display: flex;
    justify-content: center;  
    align-items: center;    
    width: 45%;
    height: 99.9vh;
    background-color: #fff;
}

.sub-container{
    position: absolute;
}

.right_panel{
    position: relative;
    right: -30.7rem;
    width: 152%;       
    height: 101vh; 
    z-index: -1;
    filter: brightness(0.5);
}

.panel_center{
    width: 386px;
    margin-right: -97rem;
    height: 385px;
    background: #465741;
    border-radius: 15px;
}

.logo_panel{
    width: 206px;
    margin-left: 5.4rem;
    margin-top: 2.5rem;
}

.sublogo_panel{
    width: 15rem;
    margin-left: 4.25rem;
    margin-top: 2.5rem;
}

.titl{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 4em;
    margin-top: -10em;
    margin-bottom: 0em;
    padding-left: .8em;
}

hr{
    width: 36em;
    margin-left: 3em;
}