@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #1A5319; 
}

.container {
    width: 80%;
    max-width: 1300px;
    height: 614px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-section {
    flex: 1;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h2 {
    font-size: 47px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
    margin-top: 20px;
}

.input-field1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
}

.input-field2 {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
    width: 276px;
}

.input-field21 {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-top: -69px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
    width: 276px;
    align-self: flex-end;
}

#lineChart, #barChart {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.input-field3 {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 56px;
}



hr{
    margin-bottom: 48px;
}

.input-field input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field3 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.close i{
    width: 20px;
    margin-left: 34rem;
    margin-top: -9rem;
    color: #374531;
}

.close i:hover{
    color: #7e9374;
    transform: scale(1.1);
    transition: all .5s;
}

.next{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.main-container{
    width: 50%;
    height: 306px;
    margin-left: -81px;
    margin-top: -9rem;
    background-color: #fff;
}



.input-field3 select {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field1 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field2 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field21 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field img {
    width: 30px;
    margin-right: 10px;
}

.input-field3 img {
    width: 30px;
    margin-right: 10px;
}

.login-button {
    width: 90%;
    padding: 15px;
    background-color: #4A5943;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    height: 60px;
    margin-top: 31px;
    margin-left: 26px;
}


.signup-button {
    width: 100%;
    padding: 15px;
    background-color: #4A5943;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    height: 60px;
    margin-top: 23px;
}


.signup-button:hover{
    background-color: #7e9374;
    transform: scale(1.1);
    transition: all .5s;
}

.login-button:hover {
    background-color: #7e9374;
    transform: scale(1.1);
    transition: all .5s;
}

.register-link {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.register-link a {
    text-decoration: none;
    color: #4A5943;
    font-weight: 600;
    font-size: 16px;
}

.register-link a:hover{
    color: #69835e;
    transition: all .5s;
}

.register1-link {
    margin-top: 10px;
    text-align: right;
    margin-right: 34px;
    font-size: 14px;
}

.register1-link a {
    text-decoration: none;
    color: #4A5943;
}

.image-section {
    flex: 1;
    background: url("../imgs/fundo.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section2 {
    flex: 1;
    background: url("../imgs/fundo2.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 325px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.logo img {
    width: 280px;
    margin-bottom: 38px;
    margin-top: 23px;
}

.logo p {
    margin-top: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}