@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f4f6f9;
}

.container {
  display: flex;
  height: 100vh;
}

#myChart {
  max-width: 1420px;
  max-height: 580px;
}

.sidebar {
  width: 300px;
  background-color: #1a5319;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 49px;
  padding-left: 10rem;
}

.main-content p {
  font-size: 20px;
  color: #1A5319;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
  margin: 15px 0;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  transition: background 0.3s, color 0.3s;
}

.sidebar ul li i {
  margin-right: 12px;
}

.sidebar ul li a:hover {
  background-color: #859f3d;
  color: #ffffff;
  border-radius: 5px;
}

.main-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.main-content h2 {
  font-size: 1.9rem;
  margin-bottom: 20px;
  color: #31511e;
}

.sub-content {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 100px;
  margin-top: 20px;
}

.info {
  width: 400px;
  height: 150px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info h4{
  font-size: 17px;
  padding: 20px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  transform: scale(1.05);
}
.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  width: 166px;
  height: 80px;
  margin: 15px 0;
}

.line {
  width: 80%;
  height: 5px;
  background-color: #80af81;
  filter: opacity(0.5);
  margin-top: 2rem;
}

.sidebar img {
  width: 240px;
  margin-top: 15px;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a5319;
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  transform: scale(1.1);
}

.sidebar ul li a i {
  font-size: 24px; /* Tamanho do ícone */
  margin-bottom: 5px;
  margin-left: 16px;
}
