@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f4f6f9;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #1a5319;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.main-content p {
  font-size: 18px;
  color: #859f3d;
}

.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.sidebar ul li {
  width: 100%;
  margin: 15px 0;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  transition: background 0.3s, color 0.3s;
}

.sidebar ul li i {
  margin-right: 12px;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  color: #ffffff;
  border-radius: 5px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  transition: background 0.3s ease, transform 0.3s ease;
}

.titl {
  color: #31511e;
  margin-left: 25px;
  margin-top: 25px;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  transform: scale(1.05);
}
.sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar ul li {
  width: 166px;
  height: 80px;
  margin: 15px 0;
}

.line {
  width: 80%;
  height: 5px;
  background-color: #80af81;
  filter: opacity(0.5);
  margin-top: 2rem;
}

.sidebar img {
  width: 240px;
  margin-top: 15px;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a5319;
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}

.sidebar ul li a:hover {
  background-color: #80af81;
  transform: scale(1.1);
}

.sidebar ul li a i {
  font-size: 24px; /* Tamanho do ícone */
  margin-bottom: 5px;
  margin-left: 16px;
}

.sub-container {
  height: 450px;
  width: 320px;
  background-color: #d8efd3;
  border-radius: 10px;
  margin-left: 2rem;
  margin-top: 2rem;
}

.mini-photo {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(200, 196, 196);
  margin-left: 3.2rem;
  display: flex;
}

a {
  text-decoration: none;
  color: #ecf0f1;
}

.stats {
  height: 868px;
  width: 1220px;
  border-radius: 20px;
  margin-left: 8rem;
  margin-top: 2rem;
}

.stats_title {
  font-size: 38px;
  color: #31511e;
  padding: 17px;
  margin-left: 1.9rem;
}

.upload-label {
  font-size: 40px;
  color: #fff;
  padding-left: 1.5rem;
  cursor: pointer;
}

.mini-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal {
  border: 3px solid #1a5319;
  border-radius: 10px;
  padding: 15px 20px;
  width: 1104px;
  background-color: #def9c4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 369px;
  margin-left: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.local {
  border: 3px solid #1a5319;
  border-radius: 10px;
  padding: 15px 20px;
  width: 1104px;
  background-color: #def9c4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: max-height 0.3s ease;
  overflow: hidden;
  max-height: 369px;
  margin-left: 3rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

hr {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: -2px;
  border-color: #1a5319;
  opacity: 25%;
  border: outset;
}

legend {
  font-weight: bold;
  color: #1a5319;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 17px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  height: 54px;
}

.submit-button {
  padding: 20px;
  background-color: #1a5319;
  color: white;
  border: none;
  border-radius: 30rem;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-right: 2.5rem;
}

.buttons {
  display: flex;
  width: 36%;
  margin-right: 1.5rem;
}

.logout-button {
  padding: 20px;
  background-color: #1a5319;
  color: white;
  border: none;
  border-radius: 30rem;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
  margin-right: 2.5rem;
}

.submit-button:hover {
  background-color: #aad3ab;
  color: #1a5319;
  font-weight: bold;
  transition: 0.5s all;
}

.logout-button:hover {
  background-color: #ce2525;
  color: #fff;
  font-weight: bold;
  transition: 0.5s all;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  gap: 10px;
}

.column {
  flex: 1;
}
