@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #B5D1B5; 
}

.container {
    width: 60%;
    max-width: 1300px;
    height: 563px;
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-section {
    display: grid;
    grid-template-columns: 1fr 0.1fr 2fr; 
    grid-template-rows: auto auto 1fr; 
    align-items: center;
    justify-content: center;
}

.image-section{
    background-image: url(../imgs/foto_inicial.webp);
    background-size: cover;
    filter: brightness(60%);
    background-position-x: center;
    width: 470px;
    border-radius: 15px;
    height: 564px;
    grid-column: 1;
    grid-row: 1 / span 3;
}

.line{
    width: 4px;
    height: 430px;
    background-color: #1e1e1e;
    grid-column: 2;
    margin-left: 2.5rem;
    grid-row: 1 / span 3;
    margin-top: 0.5rem;
    border-radius: 5px;
    filter: opacity(0.1);
    margin-right: -0.5rem;
}

.title{
    font-size: 2rem;
    padding-top: 14rem;
    text-align: center;
    grid-column: 3;
    grid-row: 2;
    color: #3E3E3E;
    margin-left: -1rem;
}

.logo {
    width: 10rem;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    margin-bottom: -15rem;
    margin-left: -2rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-column: 3;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    margin-top: -4rem;
    margin-left: -0.35rem;
    margin-right: -0.35rem;
}

.form input {
    width: 80%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    color: #333;
}

.form input:focus {
    border-color: #1A5319;
    box-shadow: 0 0 8px rgba(26, 83, 25, 0.4);
    background-color: #fff;
}

.form input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

.form input:focus::placeholder {
    color: #666;
}

.form button {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #1A5319;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 2rem;
}

.form button:hover {
    background-color: #144015;
    box-shadow: 0 4px 8px rgba(26, 83, 25, 0.4);
}

.form button:active {
    background-color: #0f3010;
    transform: scale(0.98);
}

.form p {
    font-size: 13px;
}

.form a {
    color: #1A5319;
}

/* .login-section h2 {
    font-size: 47px;
    font-weight: bolder;
    font-style: italic;
    color: black;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
    margin-top: 20px;
}

.input-field1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
}

.input-field2 {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
}

.input-field21 {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    margin-top: -69px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 58px;
    width: 311px;
    align-self: flex-end;
}

#lineChart, #barChart {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.input-field3 {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    border: 3px solid #4A5943;
    border-radius: 5px;
    padding: 10px;
    height: 56px;
}



hr{
    margin-bottom: 48px;
}

.input-field input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field3 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.close i{
    width: 20px;
    margin-left: 34rem;
    margin-top: -9rem;
    color: #374531;
}

.close i:hover{
    color: #7e9374;
    transform: scale(1.1);
    transition: all .5s;
}

.next{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.main-container{
    width: 50%;
    height: 306px;
    margin-left: -81px;
    margin-top: -9rem;
    background-color: #fff;
}



.input-field3 select {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field1 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field2 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field21 input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #4A5943;
}

.input-field img {
    width: 30px;
    margin-right: 10px;
}

.input-field3 img {
    width: 30px;
    margin-right: 10px;
}

.login-button {
    width: 90%;
    padding: 15px;
    background-color: #1A5319;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    height: 60px;
    margin-top: 31px;
    margin-left: 26px;
}


.signup-button {
    width: 100%;
    padding: 15px;
    background-color: #1A5319;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-weight: bold;
    height: 60px;
    margin-top: 23px;
}


.signup-button:hover{
    background-color: #C4DAD2;
    transform: scale(1.1);
    transition: all .5s;
    color: #374531;
}

.login-button:hover {
    background-color: #C4DAD2;
    transform: scale(1.1);
    transition: all .5s;
    color: #374531;
}

.register-link {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
}

.register-link a {
    text-decoration: none;
    color: #4A5943;
    font-weight: 600;
    font-size: 16px;
}

.register-link a:hover{
    color: #69835e;
    transition: all .5s;
}

.register1-link {
    margin-top: 10px;
    text-align: right;
    margin-right: 34px;
    font-size: 14px;
}

.register1-link a {
    text-decoration: none;
    color: #4A5943;
}

.image-section {
    flex: 1;
    background: url("../imgs/fundo.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-section2 {
    flex: 1;
    background: url("../imgs/fundo2.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 325px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.logo img {
    width: 280px;
    margin-bottom: 38px;
    margin-top: 23px;
}

.logo p {
    margin-top: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
} */