<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>AntraVision</title>
</head>

<body>
    <div>               
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <script>

            Swal.fire({

                title:"{{ category.title() }}!",

                text: "{{ message }}",

                icon: "{{ category }}" == "danger" ? "error" : "{{ category }}"

            })

        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
</div>

{% block content%}
{% content %}
    <div class="container">
        <div class="login-section">
            <div class="image-section"></div>
            <img class="logo" src="{{url_for('static', filename='imgs/logo-black2.svg')}}" alt="Logo ANTVSN">
            <h2 class="title">Bem vindo de Volta!</h2>
            <form class="form" action="{{url_for('login')}}" method="POST">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Senha">
                <button type="submit">Entrar</button>
                <p>Entre para nossa Plataforma |<a href="{{url_for('signup')}}">Cadastre-se</a></p>
            </form>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>

</html>