<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>AntraVision</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <img src="{{url_for('static', filename='imgs/logo_white.svg')}}" alt="Logo AntraVision">
            <span class="menu-category"></span>
            <a href="{{url_for('main')}}">
              <div class="icon-box"><i class="fas fa-home"></i></div>
              <span>Home</span>
            </a>
            <a href="{{url_for('dash')}}">
              <div class="icon-box"><i class="fas fa-chart-bar"></i></div>
              <span>Dashboard</span>
            </a>
            <a href="{{url_for('history')}}">
              <div class="icon-box"><i class="fas fa-folder"></i></div>
              <span>Histórico</span>
            </a>
            <a href="{{url_for('setting')}}">
              <div class="icon-box"><i class="fas fa-cogs"></i></div>
              <span>Configurações</span>
            </a>
          </div>

        <div class="navbar">
            <button id="btnAtualizar" type="button" class="atualizar">Atualizar</button>
            <div class="user-section">
                <span>Olá, {{ user_name }}</span>
                <div id="user-info" data-user-id="{{user_id}}" style="display: none;"></div>
                <i class="fa-solid fa-user-large fa-xl"></i>
            </div>
        </div>

        <div class="content">
            <div class="section">
                <img class="logo-main" src="{{url_for('static', filename='imgs/logo_green.svg')}}" alt="Logo AntraVision">
                <h1 class="title">Bem-vindo ao AntraVision</h1>
                <p class="subtitle">Sistema de Monitoramento de Antracnose</p>
                <div class="info-bar">
                    <h3 id="ultimaAtualizacao"><i class="fa-solid fa-rotate fa-xl"></i><br>Última atualização: <span class="valor">{{ ultima_atualizacao }}</span></h3>
                </div>
                <div class="cards">
                    <div class="card">
                        <h2>Resumo dos Status</h2>
                        <p>Média Geral entre os Casos</p>
                        <h3 id="statusGeral"><i class="fa-solid fa-triangle-exclamation"></i> <span class="valor">{{ nivel_severidade }}</span></h3>
                    </div>
                    <div class="card">

                        <h2>Total de Casos</h2>
                        <p>Total de Casos no Sistema</p>
                        <h3 id="totalCasos"><i class="fa-solid fa-file-contract fa-2xl"></i><span class="valor">{{ total }} Casos</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/btnatualizar.js')}}"></script>


</body>

</html>