<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/dash.css')}}">
    <title>AntraVision</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <img src="{{url_for('static', filename='imgs/logo-white2.svg')}}">
            <div class="line"></div>
            <ul>
                <li><a href="{{url_for('main')}}" id="dashboardLink"><i class="fa-solid fa-border-all"></i> Dashboard</a></li>
                <li><a href="{{url_for('history')}}" id="relatorioLink"><i class="fa-solid fa-file-lines"></i> Históricos</a></li>
                <li><a href="{{url_for('perfil')}}" id="profileLink"><i class="fa-solid fa-user"></i> Perfil</a></li>
            </ul>
        </aside>
        
        <main class="main-content">
            <p class="first_text">Olá, {{user_name}}</p>
            <h2 class="welcome">Seja Bem-Vindo ao AntraVision</h2>

            <div class="sub-content">
                <div class="info">
                    <h4>Casos Recentes</h4>
                    <h1>20</h1>
                </div>
                <div class="info">
                    <h4>Hectares Afetados</h4>
                    <h1>10</h1>
                </div>
                <div class="info">
                    <h4>Nível Médio de Severidade</h4>
                    <h1>35</h1>
                </div>
            </div>
            <br>

            <canvas id="myChart" width="5"></canvas>

    <script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static', filename='js/graph.js')}}"></script>

</body>
</html>
