<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/perfil.css')}}"
    />
    <title>AntraVision</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <img src="{{url_for('static', filename='imgs/logo-white2.svg')}}" />
        <div class="line"></div>
        <ul>
          <li>
            <a href="{{url_for('main')}}" id="dashboardLink"
              ><i class="fa-solid fa-border-all"></i> Dashboard</a
            >
          </li>
          <li>
            <a href="{{url_for('history')}}" id="relatorioLink"
              ><i class="fa-solid fa-file-lines"></i> Históricos</a
            >
          </li>
          <li>
            <a href="{{url_for('perfil')}}" id="profileLink"
              ><i class="fa-solid fa-user"></i> Perfil</a
            >
          </li>
        </ul>
      </aside>
      <div class="main-perfil">
        <div class="stats">
          <div class="header">
            <h2 class="stats_title">Meus Dados</h2>
            <div class="buttons">
              <button type="submit" class="submit-button">
                <i class="fa-solid fa-save"></i> &nbsp;Salvar
              </button>
              <button type="submit" class="logout-button">
                <a href="{{url_for('logout')}}">
                  <i class="fa-solid fa-right-from-bracket"></i> &nbsp;Sair
                </a>
              </button>
            </div>
          </div>
        <!-- <div class="form-sections">
          <div class="section">
            <h2>📋 Dados Pessoais</h2>
            <label for="nome">Nome</label>
            <input
              type="text"
              id="nome"
              name="nome"
              placeholder="Nome"
              required
            />

            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />

            <label for="telefone">Telefone</label>
            <input
              type="text"
              id="telefone"
              name="telefone"
              placeholder="Telefone"
              required
            />

            <label for="senha">Senha</label>
            <input
              type="password"
              id="senha"
              name="senha"
              placeholder="Senha"
              required
            />
          </div>

      
          <div class="section">
            <h2>📍 Dados de Localização</h2>
            <label for="endereco">Endereço</label>
            <input
              type="text"
              id="logradouro"
              name="logradouro"
              placeholder="Endereço"
              required
            />

            <label for="cidade">Cidade</label>
            <input
              type="text"
              id="cidade"
              name="cidade"
              placeholder="Cidade"
              required
            />

            <label for="estado">Estado</label>
            <select>
              <option value="">Estado</option>
              <option value="Acre (AC)" {% if user_data['estado'] == "Acre (AC)" %}selected{% endif %}>Acre (AC)</option>
              <option value="Alagoas (AL)" {% if user_data['estado'] == "Alagoas (AL)" %}selected{% endif %}>Alagoas (AL)</option>
              <option value="Amapá (AP)" {% if user_data['estado'] == "Amapá (AP)" %}selected{% endif %}>Amapá (AP)</option>
              <option value="Amazonas (AM)" {% if user_data['estado'] == "Amazonas (AM)" %}selected{% endif %}>Amazonas (AM)</option>
              <option value="Bahia (BA)" {% if user_data['estado'] == "Bahia (BA)" %}selected{% endif %}>Bahia (BA)</option>
              <option value="Ceará (CE)" {% if user_data['estado'] == "Ceará (CE)" %}selected{% endif %}>Ceará (CE)</option>
              <option value="Distrito Federal (DF)" {% if user_data['estado'] == "Distrito Federal (DF)" %}selected{% endif %}>
                Distrito Federal (DF)
              </option>
              <option value="Espírito Santo (ES)" {% if user_data['estado'] == "Espírito Santo (ES)" %}selected{% endif %}>
                Espírito Santo (ES)
              </option>
              <option value="Goiás (GO)" {% if user_data['estado'] == "Goiás (GO)" %}selected{% endif %}>Goiás (GO)</option>
              <option value="Maranhão (MA)" {% if user_data['estado'] == "Maranhão (MA)" %}selected{% endif %}>Maranhão (MA)</option>
              <option value="Mato Grosso (MT)" {% if user_data['estado'] == "Mato Grosso (MT)" %}selected{% endif %}>Mato Grosso (MT)</option>
              <option value="Mato Grosso do Sul (MS)" {% if user_data['estado'] == "Mato Grosso do Sul (MS)" %}selected{% endif %}>
                Mato Grosso do Sul (MS)
              </option>
              <option value="Minas Gerais (MG)" {% if user_data['estado'] == "Minas Gerais (MG)" %}selected{% endif %}>Minas Gerais (MG)</option>
              <option value="Pará (PA)" {% if user_data['estado'] == "Pará (PA)" %}selected{% endif %}>Pará (PA)</option>
              <option value="Paraíba (PB)" {% if user_data['estado'] == "Paraíba (PB)" %}selected{% endif %}>Paraíba (PB)</option>
              <option value="Paraná (PR)" {% if user_data['estado'] == "Paraná (PR)" %}selected{% endif %}>Paraná (PR)</option>
              <option value="Pernambuco (PE)" {% if user_data['estado'] == "Pernambuco (PE)" %}selected{% endif %}>Pernambuco (PE)</option>
              <option value="Piauí (PI)" {% if user_data['estado'] == "Piauí (PI)" %}selected{% endif %}>Piauí (PI)</option>
              <option value="Rio de Janeiro (RJ)" {% if user_data['estado'] == "Rio de Janeiro (RJ)" %}selected{% endif %}>
                Rio de Janeiro (RJ)
              </option>
              <option value="Rio Grande do Norte (RN)" {% if user_data['estado'] == "Rio Grande do Norte (RN)" %}selected{% endif %}>
                Rio Grande do Norte (RN)
              </option>
              <option value="Rio Grande do Sul (RS)" {% if user_data['estado'] == "Rio Grande do Sul (RS)" %}selected{% endif %}>
                Rio Grande do Sul (RS)
              </option>
              <option value="Rondônia (RO)" {% if user_data['estado'] == "Rondônia (RO)" %}selected{% endif %}>Rondônia (RO)</option>
              <option value="Roraima (RR)" {% if user_data['estado'] == "Roraima (RR)" %}selected{% endif %}>Roraima (RR)</option>
              <option value="Santa Catarina (SC)" {% if user_data['estado'] == "Santa Catarina (SC)" %}selected{% endif %}>
                Santa Catarina (SC)
              </option>
              <option value="São Paulo (SP)" {% if user_data['estado'] == "São Paulo (SP)" %}selected{% endif %}>
                São Paulo (SP)
              </option>
              <option value="Sergipe (SE)" {% if user_data['estado'] == "Sergipe (SE)" %}selected{% endif %}>Sergipe (SE)</option>
              <option value="Tocantins (TO)" {% if user_data['estado'] == "Tocantins (TO)" %}selected{% endif %}>Tocantins (TO)</option>
            </select>
            

            <label for="cep">CEP</label>
            <input
              type="text"
              id="cep"
              name="cep"
              placeholder="CEP"
              required
            />
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/e25d89dd27.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='js/photo.js')}}"></script>
  </body>
</html>
