<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/perfil.css')}}"
    />
    <title>AntraVision</title>
  </head>
  <body>
    <div class="container">
      <aside class="sidebar">
        <img src="{{url_for('static', filename='imgs/logo-white2.svg')}}" />
        <div class="line"></div>
        <ul>
          <li>
            <a href="{{url_for('main')}}" id="dashboardLink"
              ><i class="fa-solid fa-border-all"></i> Dashboard</a
            >
          </li>
          <li>
            <a href="{{url_for('history')}}" id="relatorioLink"
              ><i class="fa-solid fa-file-lines"></i> Históricos</a
            >
          </li>
          <li>
            <a href="{{url_for('perfil')}}" id="profileLink"
              ><i class="fa-solid fa-user"></i> Perfil</a
            >
          </li>
        </ul>
      </aside>
      <div class="main-perfil">
        <div class="stats">
          <div class="header">
            <h2 class="stats_title">Meus Dados</h2>
           
            <div class="buttons">
               <form action="{{url_for('edit_perfil')}}" method="POST" class="fmr">
                <button type="submit" class="submit-button">
                  <i class="fa-solid fa-save"></i> &nbsp;Salvar
                </button>
              
              <button class="logout-button">
                <a href="{{url_for('logout')}}">
                  <i class="fa-solid fa-right-from-bracket"></i> &nbsp;Sair
                </a>
              </button>
            </div>
          </div>
          <div class="form-container" >
            <div class="form-section">
                <h3><i class="fa-solid fa-id-card"></i> Dados Pessoais</h3>
                <div class="form">
                    <div>
                        <input type="text" id="nome" name="nome" value="{{user_data.nome}}"/>
                    </div>
                    <div>
                        <input type="text" id="telefone" name="telefone" value="{{user_data.telefone}}"/>
                    </div>
                    <div>
                        <input type="email" id="email" name="email" value="{{user_data.email}}"/>
                    </div>
                    <div>
                        <input type="password" id="senha" name="senha" value="{{user_data.senha}}"/>
                    </div>
                  </div>
            </div>
        
            <div class="form-section1">
                <h3><i class="fa-solid fa-map-location-dot"></i> Localização</h3>
                <div class="form">
                    <div>
                        <input type="text" id="logradouro" name="logradouro" value="{{user_data.endereco.logradouro}}">
                    </div>
                    <div>
                        <input type="text" id="cidade" name="cidade" value="{{user_data.endereco.cidade}}">
                    </div>
                    <div>
                        <select id="estado" name="estado" value="{{user_data.endereco.estado}}">
                          <option value="">Estado</option>
                          <option value="Acre (AC)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Acre (AC)' else '' }}>Acre (AC)</option>
                          <option value="Alagoas (AL)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Alagoas (AL)' else '' }}>Alagoas (AL)</option>
                          <option value="Amapá (AP)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Amapá (AP)' else '' }}>Amapá (AP)</option>
                          <option value="Amazonas (AM)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Amazonas (AM)' else '' }}>Amazonas (AM)</option>
                          <option value="Bahia (BA)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Bahia (BA)' else '' }}>Bahia (BA)</option>
                          <option value="Ceará (CE)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Ceará (CE)' else '' }}>Ceará (CE)</option>
                          <option value="Distrito Federal (DF)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Distrito Federal (DF)' else '' }}>Distrito Federal (DF)</option>
                          <option value="Espírito Santo (ES)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Espírito Santo (ES)' else '' }}>Espírito Santo (ES)</option>
                          <option value="Goiás (GO)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Goiás (GO)' else '' }}>Goiás (GO)</option>
                          <option value="Maranhão (MA)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Maranhão (MA)' else '' }}>Maranhão (MA)</option>
                          <option value="Mato Grosso (MT)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Mato Grosso (MT)' else '' }}>Mato Grosso (MT)</option>
                          <option value="Mato Grosso do Sul (MS)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Mato Grosso do Sul (MS)' else '' }}>Mato Grosso do Sul (MS)</option>
                          <option value="Minas Gerais (MG)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Minas Gerais (MG)' else '' }}>Minas Gerais (MG)</option>
                          <option value="Pará (PA)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Pará (PA)' else '' }}>Pará (PA)</option>
                          <option value="Paraíba (PB)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Paraíba (PB)' else '' }}>Paraíba (PB)</option>
                          <option value="Paraná (PR)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Paraná (PR)' else '' }}>Paraná (PR)</option>
                          <option value="Pernambuco (PE)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Pernambuco (PE)' else '' }}>Pernambuco (PE)</option>
                          <option value="Piauí (PI)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Piauí (PI)' else '' }}>Piauí (PI)</option>
                          <option value="Rio de Janeiro (RJ)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Rio de Janeiro (RJ)' else '' }}>Rio de Janeiro (RJ)</option>
                          <option value="Rio Grande do Norte (RN)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Rio Grande do Norte (RN)' else '' }}>Rio Grande do Norte (RN)</option>
                          <option value="Rio Grande do Sul (RS)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Rio Grande do Sul (RS)' else '' }}>Rio Grande do Sul (RS)</option>
                          <option value="Rondônia (RO)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Rondônia (RO)' else '' }}>Rondônia (RO)</option>
                          <option value="Roraima (RR)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Roraima (RR)' else '' }}>Roraima (RR)</option>
                          <option value="Santa Catarina (SC)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Santa Catarina (SC)' else '' }}>Santa Catarina (SC)</option>
                          <option value="São Paulo (SP)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'São Paulo (SP)' else '' }}>São Paulo (SP)</option>
                          <option value="Sergipe (SE)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Sergipe (SE)' else '' }}>Sergipe (SE)</option>
                          <option value="Tocantins (TO)" {{ 'selected' if user_data and user_data.endereco and user_data.endereco.estado == 'Tocantins (TO)' else '' }}>Tocantins (TO)</option>
                        </select>

                    </div>
                    <div>
                        <input type="text" id="cep" name="cep" value="{{user_data.endereco.cep}}">
                    </div>
                  </div>
            </div>
        </div>
      </form>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/e25d89dd27.js"
      crossorigin="anonymous"
    ></script>
    <script src="{{url_for('static', filename='js/photo.js')}}"></script>
  </body>
</html>
