<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>AntraVision</title>
</head>

<body>
    <div class="container2">
        <div class="login-section2">
            <div class="image-section2"></div>
            <img class="logo2" src="{{url_for('static', filename='imgs/logo_green.svg')}}" alt="Logo ANTVSN">
            <h3>Crie sua Conta e Comece Agora!</h3>
            <form class="form2" action="{{url_for('signup')}}" method="POST">
                <div class="group">
                    <input type="text" name="nome" placeholder="Nome">
                    <input type="tel" name="telefone" placeholder="Telefone">
                </div>
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Senha">
                <button>Próximo</button>
                <p>Já faz parte da nossa Plataforma | <a href="{{url_for('login')}}">Faça o Login</a></p>
            </form>
        </div>
</body>
<script src="https://kit.fontawesome.com/e25d89dd27.js" crossorigin="anonymous"></script>

</html>